html {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
  line-height: 1.7em;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

body {
  width: 430px;
  margin: 80px auto;
  padding: 0;
}

@media screen and (max-width: 450px) {
  html {
    padding: 20px;
  }
  body {
    width: 100%;
    margin: 0;
  }
}

a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #aaa;
}
a:hover {
  border-color: #666;
}
